.footer {
    width: 100%;
    background: #fff;
    margin: 1em 0 0;

    .container {

    }

    .group {
        margin-top: 3em;
    }

    &-logo {
        flex: 1;
        padding-right: 5em;

        img {
            width: 100%;
            max-width: 125px;
        }
    }

    &-nav {
        flex: 4;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-section {
        flex: 1;
        padding-right: 20px;

        h3 {
            position: relative;
            font-size: 1.25rem;
            padding-bottom: 0.125em;
            margin-bottom: 0.75em;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background: $color-1;
                background: linear-gradient(to right, $color-1, transparent);
            }
        }
    }

    &-links {
        list-style-type: none;
        padding: 0;

        li {

        }

        a {
            color: $color-0;
            text-decoration: none;
            font-size: 1rem;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3em;
        padding-top: 2em;
        border-top: 1px solid #ddd;
    }

    &-app {
        margin-top: 1em;

        &-group {
            display: flex;
            align-items: center;
            margin: 0.25em -0.25em;

            > * {
                flex: 1;
                margin: 0.25em;
            }

            a {
                text-decoration: none;
                color: inherit;

                &:hover,
                &:focus {
                    opacity: 0.8;
                }
            }
        }
    }

    .ewd {
        width: 200px;

        img {
            width: 100%;
        }
    }
}
