.features {

    .container {

    }

    .group {
        margin: 0 -1em;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .item {
        text-decoration: none;
        display: block;
        color: inherit;
        position: relative;
        margin: 1em;
        width: calc(33.333% - 2em);
        min-height: 360px;
        border-radius: 0.25em;
        transition: $transition-1;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-1;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
            z-index: 1;
        }

        .bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1em;
            color: #fff;
            z-index: 2;
            text-align: center;
        }

        .icon {
            font-size: 2.5rem;
            margin-bottom: 0.25em;
            display: none;
        }

        .title {
            position: relative;
            text-transform: unset;
            padding-bottom: 0.5em;
            margin-bottom: 0.25em;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background: $color-1;
                background: linear-gradient(to right, transparent, #fff, transparent);
            }
        }

        .description {
            opacity: 0.8;
        }

        &:hover,
        &:focus {
            box-shadow: $box-shadow-3;

            img {
                transform: scale(1.08);
                opacity: 0.8;
            }
        }
    }

    .image {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 250ms ease;
        }
    }

}
